.seller {
  width: 10%;
}

#registerIMG {
  opacity: 25%;
  height: 100%;
  width: 100%;
}

#registerIMG3 {
  opacity: 50%;
  height: 100%;
  width: 100%;
}

#registerIMG6 {
  opacity: 70%;
  height: 100%;
  width: 100%;
}

#registerIMG10 {
  opacity: 100%;
  height: 100%;
  width: 100%;
}

form {
  background: #e7e7e9;
}
